src/META-INF/wsdl/148.216.31.49_8080/biblioteca/ServicioApartado.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://app.mig.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://app.mig.com/" name="ServicioApartadoService">
<types>
<xsd:schema>
<xsd:import namespace="http://app.mig.com/" schemaLocation="http://148.216.31.49:8080/biblioteca/ServicioApartado?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarLibros">
<part name="parameters" element="tns:consultarLibros"/>
</message>
<message name="consultarLibrosResponse">
<part name="parameters" element="tns:consultarLibrosResponse"/>
</message>
<message name="buscarAutor">
<part name="parameters" element="tns:buscarAutor"/>
</message>
<message name="buscarAutorResponse">
<part name="parameters" element="tns:buscarAutorResponse"/>
</message>
<message name="buscarTitulo">
<part name="parameters" element="tns:buscarTitulo"/>
</message>
<message name="buscarTituloResponse">
<part name="parameters" element="tns:buscarTituloResponse"/>
</message>
<message name="apartar">
<part name="parameters" element="tns:apartar"/>
</message>
<message name="apartarResponse">
<part name="parameters" element="tns:apartarResponse"/>
</message>
<message name="cancelarApartado">
<part name="parameters" element="tns:cancelarApartado"/>
</message>
<message name="cancelarApartadoResponse">
<part name="parameters" element="tns:cancelarApartadoResponse"/>
</message>
<message name="misLibrosApartados">
<part name="parameters" element="tns:misLibrosApartados"/>
</message>
<message name="misLibrosApartadosResponse">
<part name="parameters" element="tns:misLibrosApartadosResponse"/>
</message>
<message name="autenticar">
<part name="parameters" element="tns:autenticar"/>
</message>
<message name="autenticarResponse">
<part name="parameters" element="tns:autenticarResponse"/>
</message>
<portType name="ServicioApartado">
<operation name="consultarLibros">
<input wsam:Action="http://app.mig.com/ServicioApartado/consultarLibrosRequest" message="tns:consultarLibros"/>
<output wsam:Action="http://app.mig.com/ServicioApartado/consultarLibrosResponse" message="tns:consultarLibrosResponse"/>
</operation>
<operation name="buscarAutor">
<input wsam:Action="http://app.mig.com/ServicioApartado/buscarAutorRequest" message="tns:buscarAutor"/>
<output wsam:Action="http://app.mig.com/ServicioApartado/buscarAutorResponse" message="tns:buscarAutorResponse"/>
</operation>
<operation name="buscarTitulo">
<input wsam:Action="http://app.mig.com/ServicioApartado/buscarTituloRequest" message="tns:buscarTitulo"/>
<output wsam:Action="http://app.mig.com/ServicioApartado/buscarTituloResponse" message="tns:buscarTituloResponse"/>
</operation>
<operation name="apartar">
<input wsam:Action="http://app.mig.com/ServicioApartado/apartarRequest" message="tns:apartar"/>
<output wsam:Action="http://app.mig.com/ServicioApartado/apartarResponse" message="tns:apartarResponse"/>
</operation>
<operation name="cancelarApartado">
<input wsam:Action="http://app.mig.com/ServicioApartado/cancelarApartadoRequest" message="tns:cancelarApartado"/>
<output wsam:Action="http://app.mig.com/ServicioApartado/cancelarApartadoResponse" message="tns:cancelarApartadoResponse"/>
</operation>
<operation name="misLibrosApartados">
<input wsam:Action="http://app.mig.com/ServicioApartado/misLibrosApartadosRequest" message="tns:misLibrosApartados"/>
<output wsam:Action="http://app.mig.com/ServicioApartado/misLibrosApartadosResponse" message="tns:misLibrosApartadosResponse"/>
</operation>
<operation name="autenticar">
<input wsam:Action="http://app.mig.com/ServicioApartado/autenticarRequest" message="tns:autenticar"/>
<output wsam:Action="http://app.mig.com/ServicioApartado/autenticarResponse" message="tns:autenticarResponse"/>
</operation>
</portType>
<binding name="ServicioApartadoPortBinding" type="tns:ServicioApartado">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarLibros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarAutor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarTitulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="apartar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelarApartado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="misLibrosApartados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioApartadoService">
<port name="ServicioApartadoPort" binding="tns:ServicioApartadoPortBinding">
<soap:address location="http://148.216.31.49:8080/biblioteca/ServicioApartado"/>
</port>
</service>
</definitions>